{% if readonly %}
    {% if prefilled_data[name] is defined or (prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty) %}
        <input id="{{ name }}" name="{{ name }}" type="checkbox" checked disabled/>
        {% if prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty %}
            {% if label is defined %}
                <span class="readonly-label">{{ label }}: </span>
            {% endif %}
            <span class="readonly-input">{{ prefilled_data[name ~ '_text'] }}</span>
        {% elseif label is defined %}
            <span class="readonly-label">{{ label }}</span>
        {% endif %}
    {% endif %}
{% else %}
    <input type="checkbox"
           name="{{ name }}"
           id="{{ name }}"
           onclick="if(!this.checked) { this.parentElement.querySelectorAll('#{{ name }}_text')[0].value = ''; }{% if onclick is defined %} {{ onclick }}{% endif %}"
           autocomplete="off"
           {% if prefilled_data[name] is defined and prefilled_data[name] is not empty %} checked{% endif %}
           {% if disabled is defined and disabled %} disabled{% endif %}
    />
    {% if label is defined %}
        <label for="{{ name }}_checkbox_custom"
        {% if label_class is defined %} class="{{ label_class }}"{% endif %}>
            {{ label }}
        </label>
    {% endif %}
    <input type="text"
           name="{{ name }}_text"
           id="{{ name }}_text"
           value="{% if prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty %}{{ prefilled_data[name ~ '_text'] }}{% endif %}"
           oninput="const input = this.parentElement.querySelectorAll('#{{ name }}')[0]; input.checked = this.value !== '';{% if oninput is defined %} {{ oninput }}{% endif %}"
           autocomplete="off"
           {% if placeholder is defined%} placeholder="{{ placeholder }}"{% endif%}
           {% if disabled is defined and disabled %} disabled{% endif %}
    />
{% endif %}
