{% if readonly and not (disabled is defined and not disabled) %}
    {% if prefilled_data[name] is defined and prefilled_data[name] is not empty %}
        <input type="checkbox" name="{{ name }}" checked disabled/> <label for="{{ name }}">{{ label }}</label>
    {% endif %}
{% else %}
    <input type="checkbox"
        name="{{ name }}"
        id="{{ name }}"
        autocomplete="off"
        {% if onclick is defined and onclick is not empty %} onclick="{{ onclick }}"{% endif %}
        {% if (checked is defined and checked) or (prefilled_data[name] is defined and prefilled_data[name] is not empty and prefilled_data[name] != 'false') %} checked{% endif %}
        {% if disabled is defined and disabled %} disabled{% endif %}
    />
    <label for="{{ name }}">{{ label }}</label>
{% endif %}
