{% for object_type, content in form %}
    <div{% if this_object_type is defined and this_object_type != object_type %} class="hidden"{% endif %} id="{{ id }}-{{ object_type }}">
        {% for item in content %}
            {% set next = false %}
            {% if not loop.last %}
                {% set next = content[loop.index] %}
            {% endif %}
            {{ _self.build(this_object_type, object_type, item, readonly, prefilled_data, null, next) }}
        {% endfor %}
    </div>
{% endfor %}

{% macro build(this_object_type, object_type, item, readonly, prefilled_data, parent, next_item) %}
    {% if item.type is defined and item.content is defined %}

        {% set do_show = not readonly or item.type == 'div_text' or item.always_visible is defined and item.always_visible %}
        {% set onclick = null %}
        {% set oninput = null %}
        {% if readonly %}
            {% if item.type == 'div' %}
                {# Check if the content of this div is empty by looping through all of its children; if empty, do not display in readonly version #}
                {% set looping = true %}
                {% set looping_content = item.content %}
                {% set new_looping_content = [] %}
                {% for i in 0..10000 if looping %}
                    {% for subitem in looping_content %}
                        {% if subitem.type == 'div' %}
                            {% set new_looping_content = new_looping_content|merge(subitem.content) %}
                        {% elseif subitem.name is defined %}
                            {% if prefilled_data[subitem.name] is defined %}
                                {% if prefilled_data[subitem.name] is not empty %}
                                    {% set looping = false %}
                                    {% set do_show = true %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if loop.last %}
                            {% if new_looping_content is empty %}
                                {% set looping = false %}
                            {% else %}
                                {% set looping_content = new_looping_content %}
                                {% set new_looping_content = [] %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% elseif item.name is defined %}
                {% if prefilled_data[item.name] is defined %}
                    {% set do_show = true %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if parent is not null and parent.class is defined and 'checkbox-subgroup' in parent.class
                and item.type in [ 'checkbox', 'checkbox_custom', 'radio', 'radio_date', 'radio_custom' ]  %}
                {% set onclick = 'selectPreviousCheckbox(this)' %}
                {% set oninput = 'selectPreviousCheckbox(input)' %}
            {% elseif item.type == 'checkbox' and next_item and next_item.type == 'div' and next_item.class is defined and 'checkbox-subgroup' in next_item.class %}
                {% set onclick = 'unselectNextItems(this)' %}
            {% endif %}
        {% endif %}

        {% if do_show %}
            {% if item.type == 'div' %}
                <div
                    {% if item.class is defined %}
                        class="{{ item.class  }}"
                    {% endif %}
                    {% if item.id is defined %}
                        id="{{ item.id }}"
                    {% endif %}
                    {% if item.onclick is defined %}
                        onclick="{{ item.onclick }}"
                    {% endif %}
                >
                    {% for subitem in item.content %}
                        {% set next = false %}
                        {% if not loop.last %}
                            {% set next = item.content[loop.index] %}
                        {% endif %}
                        {{ _self.build(this_object_type, object_type, subitem, readonly, prefilled_data, item, next) }}
                    {% endfor %}
                </div>
            {% elseif item.type == 'html' %}
                {{ item.content | trans | raw }}
            {% elseif item.type == 'div_text' %}
                <div{% if item.class is defined %} class="{{ item.class  }}"{% endif %}>{{ item.content | trans }}</div>
            {% elseif item.type == 'textfield' and item.name is defined %}
                <div class="form-item">{% include 'textfield.html.twig' with { 'name': item.name, 'label': item.content | trans } %}</div>
            {% elseif item.type == 'textarea' and item.name is defined %}
                <div class="no-spaces textarea-div{% if item.class is defined %} {{ item.class }}{% endif %}">{% include 'textarea.html.twig' with { 'name': item.name, 'label': item.content | trans } %}</div>
            {% elseif item.type == 'number' and item.name is defined %}
                {% set with_data = { 'name': item.name, 'id': item.name, 'label': item.content | trans } %}
                {% if prefilled_data[item.name] is defined %}
                    {% set with_data = with_data|merge({ 'value': prefilled_data[item.name]}) %}
                {% endif %}
                {% if item.min is defined %}
                    {% set with_data = with_data|merge({ 'min': item.min }) %}
                {% endif %}
                {% if item.max is defined %}
                    {% set with_data = with_data|merge({ 'max': item.max }) %}
                {% endif %}
                {% if item.placeholder is defined %}
                    {% set with_data = with_data|merge({ 'placeholder': item.placeholder | trans }) %}
                {% endif %}
                {% if item.label_after is defined %}
                    {% set with_data = with_data|merge({ 'label_after': item.label_after | trans }) %}
                    {% if item.label_after_class is defined %}
                        {% set with_data = with_data|merge({ 'label_after_class': item.label_after_class }) %}
                    {% endif %}
                {% endif %}
                <div class="form-item{% if item.class is defined %} {{ item.class }}{% endif %}">
                    {% include 'number.html.twig' with with_data %}
                </div>
            {% elseif item.type == 'checkbox' and item.name is defined %}
                <div class="form-item">
                    {% set with_data = { 'name': item.name, 'label': item.content | trans } %}
                    {% if item.onclick is defined %}
                        {% set with_data = with_data|merge({ 'onclick': item.onclick }) %}
                    {% elseif onclick is not null %}
                        {% set with_data = with_data|merge({ 'onclick': onclick }) %}
                    {% endif %}
                    <div class="form-checkbox">{% include 'checkbox.html.twig' with with_data %}</div>
                </div>
            {% elseif item.type == 'checkbox_custom' and item.name is defined %}
                <div class="form-item">
                    {% set with_data = { 'name': item.name } %}
                    {% if item.content is not empty %}
                        {% set with_data = with_data|merge({ 'label': item.content | trans }) %}
                    {% endif %}
                    {% if item.class is defined %}
                        {% set with_data = with_data|merge({ 'label_class': item.class }) %}
                    {% endif %}
                    {% if item.placeholder is defined %}
                        {% set with_data = with_data|merge({ 'placeholder': item.placeholder | trans }) %}
                    {% endif %}
                    {% if item.onclick is defined %}
                        {% set with_data = with_data|merge({ 'onclick': item.onclick, 'oninput': '' }) %}
                    {% elseif onclick is not null %}
                        {% set with_data = with_data|merge({ 'onclick': onclick }) %}
                    {% endif %}
                    <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with with_data %}</div>
                </div>
            {% elseif item.type == 'radio' and item.name is defined and (not readonly or (prefilled_data[item.name] is defined and prefilled_data[item.name] == item.content | lower)) %}
                {% set with_data = { 'name': item.name, 'value': item.content | lower, 'label': item.content | trans } %}
                {% if item.onclick is defined %}
                    {% set with_data = with_data|merge({ 'onclick': item.onclick }) %}
                {% elseif onclick is not null %}
                    {% set with_data = with_data|merge({ 'onclick': onclick }) %}
                {% endif %}
                <div class="form-radio">{% include 'radio.html.twig' with with_data %}</div>
            {% elseif item.type == 'radio_date' and item.name is defined and (not readonly or (prefilled_data[item.name] is defined and prefilled_data[item.name] == item.content | lower)) %}
                {% set with_data = { 'name': item.name, 'value': item.content | lower, 'label': item.content | trans } %}
                {% if item.onclick is defined %}
                    {% set with_data = with_data|merge({ 'onclick': item.onclick }) %}
                {% elseif onclick is not null %}
                    {% set with_data = with_data|merge({ 'onclick': onclick }) %}
                {% endif %}
                <div class="form-radio form-radio-date">{% include 'radio_date.html.twig' with with_data %}</div>
            {% elseif item.type == 'radio_custom' and item.name is defined and (not readonly or prefilled_data[item.name] is not defined or prefilled_data[item.name] is empty) %}
                {% set with_data = { 'name': item.name } %}
                {% if item.onclick is defined %}
                    {% set with_data = with_data|merge({ 'onclick': item.onclick }) %}
                {% elseif onclick is not null %}
                    {% set with_data = with_data|merge({ 'onclick': onclick }) %}
                {% endif %}
                <div class="form-radio form-radio-custom">{% include 'radio_custom.html.twig' with with_data %}</div>
            {% endif %}
        {% endif %}

    {% endif %}
{% endmacro %}
