{% for object_type, content in form %}
    <div{% if this_object_type is defined and this_object_type != object_type %} class="hidden"{% endif %} id="{{ id }}-{{ object_type }}">
        {% for item in content %}
            {{ _self.build(this_object_type, object_type, item, readonly, prefilled_data) }}
        {% endfor %}
    </div>
{% endfor %}

{% macro build(this_object_type, object_type, item, readonly, prefilled_data) %}
    {% if item.type is defined and item.content is defined %}

        {% set do_show = not readonly or item.type == 'div_text' %}
        {% if readonly %}
            {% if item.type == 'div' %}
                {# Check if the content of this div is empty by looping through all of its children; if empty, do not display in readonly version #}
                {% set looping = true %}
                {% set looping_content = item.content %}
                {% set new_looping_content = [] %}
                {% for i in 0..10000 if looping %}
                    {% for subitem in looping_content %}
                        {% if subitem.type == 'div' %}
                            {% set new_looping_content = new_looping_content|merge(subitem.content) %}
                        {% elseif subitem.name is defined %}
                            {% if prefilled_data[subitem.name] is defined %}
                                {% if prefilled_data[subitem.name] is not empty %}
                                    {% set looping = false %}
                                    {% set do_show = true %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if loop.last %}
                            {% if new_looping_content is empty %}
                                {% set looping = false %}
                            {% else %}
                                {% set looping_content = new_looping_content %}
                                {% set new_looping_content = [] %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% elseif item.name is defined %}
                {% if prefilled_data[item.name] is defined %}
                    {% set do_show = true %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if do_show %}
            {% if item.type == 'div' %}
                <div{% if item.class is defined %} class="{{ item.class  }}"{% endif %}>
                    {% for subitem in item.content %}
                        {{ _self.build(this_object_type, object_type, subitem, readonly, prefilled_data) }}
                    {% endfor %}
                </div>
            {% elseif item.type == 'div_text' %}
                <div{% if item.class is defined %} class="{{ item.class  }}"{% endif %}>{{ item.content | trans }}</div>
            {% elseif item.type == 'textfield' and item.name is defined %}
                <div class="form-item">{% include 'textfield.html.twig' with { 'name': item.name, 'label': item.content | trans } %}</div>
            {% elseif item.type == 'textarea' and item.name is defined %}
                <div class="no-spaces">{% include 'textarea.html.twig' with { 'name': item.name, 'label': item.content | trans } %}</div>
            {% elseif item.type == 'number' and item.name is defined %}
                {% set with_data = { 'name': item.name, 'id': item.name, 'label': item.content | trans } %}
                {% if prefilled_data[item.name] is defined %}
                    {% set with_data = with_data|merge({ 'value': prefilled_data[item.name]}) %}
                {% endif %}
                {% if item.min is defined %}
                    {% set with_data = with_data|merge({ 'min': item.min }) %}
                {% endif %}
                {% if item.max is defined %}
                    {% set with_data = with_data|merge({ 'max': item.max }) %}
                {% endif %}
                <div class="form-item{% if item.class is defined %} {{ item.class }}{% endif %}">{% include 'number.html.twig' with with_data %}</div>
            {% elseif item.type == 'checkbox' and item.name is defined %}
                <div class="form-item">
                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': item.name, 'label': item.content | trans } %}</div>
                </div>
            {% elseif item.type == 'checkbox_custom' and item.name is defined %}
                <div class="form-item">
                    {% set with_data = { 'name': item.name } %}
                    {% if item.content is not empty %}
                        {% set with_data = with_data|merge({ 'label': item.content | trans }) %}
                    {% endif %}
                    {% if item.class is defined %}
                        {% set with_data = with_data|merge({ 'label_class': item.class }) %}
                    {% endif %}
                    {% if item.placeholder is defined %}
                        {% set with_data = with_data|merge({ 'placeholder': item.placeholder | trans }) %}
                    {% endif %}
                    <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with with_data %}</div>
                </div>
            {% elseif item.type == 'radio' and item.name is defined and (not readonly or (prefilled_data[item.name] is defined and prefilled_data[item.name] == item.content | lower)) %}
                <div class="form-radio">{% include 'radio.html.twig' with { 'name': item.name, 'value': item.content | lower, 'label': item.content | trans } %}</div>
            {% elseif item.type == 'radio_custom' and item.name is defined and (not readonly or prefilled_data[item.name] is not defined or prefilled_data[item.name] is empty) %}
                <div class="form-radio-custom">{% include 'radio_custom.html.twig' with { 'name': item.name } %}</div>
            {% endif %}
        {% endif %}

    {% endif %}
{% endmacro %}
