{% include 'header.html.twig' %}
<script>
	function fixTextareaheight() {
		var ele = document.getElementById('form_notes');
		ele.style.height = "16px";
		ele.style.height = (ele.scrollHeight + 2) + "px";
	}
</script>
{{ form_start(form) }}
	<div id="wrap">
		<div class="header">{% if new %}{{ 'Add loan project' | trans }}{% else %}{{ 'Alter loan project' | trans }}{% endif %}</div>
	    <div id="loan-project-form">
	        <div class="form-group">
	            <div class="form-subgroup">
	                {{ form_row(form.alias) }}
	                {{ form_row(form.title) }}
				</div>
	            <div class="form-subgroup">
	                {{ form_row(form.address) }}
	                {{ form_row(form.postal) }}
	                {{ form_row(form.city) }}
	                {{ form_row(form.state_province) }}
	                {{ form_row(form.country) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.notes) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.submit) }}
	            </div>
	        </div>
	    </div>
    </div>
{{ form_end(form) }}
{% include 'footer.html.twig' %}
