{% include 'header.html.twig' %}

{% block body %}

<div class="manual">

    <div class="header">{{ 'Manual' | trans }}</div>

    <h1>{{ 'IIIF images' }}</h1>

    <p>
        {{ 'Additional images (such as images from your computer, tablet or camera) cannot exceed 10MB.' }}
        {{ 'If you wish to add larger images to annotate on, you should use IIIF images instead.' }}<br/><br/>
        {{ 'Such large images first need to be uploaded into a third-party Digital Asset Management (DAM) system that supports IIIF, such as ResourceSpace.' }}<br/>
        {{ 'Once uploaded into a DAM, you can add the image to annotate on through its IIIF URL, which may typically look like this: https://imagehub.vlaamsekunstcollectie.be/iiif/2/public%2F2.tif (or https://imagehub.vlaamsekunstcollectie.be/iiif/2/public%2F2.tif/info.json).' }}
    </p>

    <p></p>
</div>

{% endblock %}

{% include 'footer.html.twig' %}
