<div class="form-item">
    {% if not readonly %}
        <label>{{ 'Name of the organising institution' | trans }}</label>
        <script>
            var {{ type }}Organisations = {{ organisations | json_encode | raw }};

            function fill{{ type }}Organisation(id) {
                for(var key in {{ type }}Organisations[id]) {
                    var element = document.querySelector("input[name='{{ type }}_" + key + "']");
                    if(element != null) {
                        element.value = {{ type }}Organisations[id][key];
                    } else {
                        element = document.querySelector("textarea[name='{{ type }}_" + key + "']");
                        if(element != null) {
                            element.value = {{ type }}Organisations[id][key];
                            window["fix{{ type }}_" + key + "textareaheight"]();
                        }
                    }
                }
            }

            function toggleCustomExhibitionOrg(customExhibitionOrgId, value, show) {
                var customExhibitionOrg = document.getElementById(customExhibitionOrgId);
                if(customExhibitionOrg != null) {
                    if(show) {
                        customExhibitionOrg.value = '';
                        customExhibitionOrg.style = 'display: block';
                        customExhibitionOrg.focus();
                    } else {
                        customExhibitionOrg.style = 'display: none';
                        customExhibitionOrg.value = value;
                    }
                }
            }
        </script>
        <div class="flex">
            <select id="{{ type }}-dropdown" name="{{ type }}_id" onchange="toggleCustomExhibitionOrg('{{ type }}-name', this.options[this.selectedIndex].value, this.options[this.selectedIndex].value === 'customOption'); fill{{  type }}Organisation(this.options[this.selectedIndex].value)" autocomplete="off">
                <option></option>
                {% for organisation in organisations %}
                    <option value="{{ organisation.id }}">{{ organisation.alias }}</option>
                {% endfor %}
                <option value="customOption"{% if prefilled_data[type ~ '_name'] is defined %} selected{% endif %}>{{ 'Other' | trans }}</option>
                <input type="text" class="custom-input" id="{{ type }}-name" placeholder="{{ 'Fill in another name ...' | trans }}" name="{{ type }}_name"
                   {% if prefilled_data[type ~ '_name'] is defined %}value="{{ prefilled_data[type ~ '_name'] }}" {% else %}style="display: none;"{% endif %} autocomplete="off">
            </select>
        </div>
    {% elseif prefilled_data[type ~ '_name'] is defined %}
        <div class="form-item">
            {% include 'textfield.html.twig' with { 'name': type ~ '_name', 'label': 'Name of the organising institution' | trans } %}
        </div>
    {% endif %}
</div>
{% if not readonly or prefilled_data.exhibition_org_address is defined or prefilled_data.exhibition_org_postal is defined or prefilled_data.exhibition_org_city is defined or prefilled_data.exhibition_org_country is defined or prefilled_data.exhibition_org_state_province is defined %}
    <label>{{ 'Venue of the project' | trans }}</label>
    <div class="form-subgroup subgroup-with-border">
        <div class="form-item">
            {% include 'textfield.html.twig' with { 'name': type ~ '_address', 'label': 'Address' | trans } %}
        </div>
        <div class="form-item">
            {% include 'textfield.html.twig' with { 'name': type ~ '_postal', 'label': 'Postal code' | trans } %}
        </div>
        <div class="form-item">
            {% include 'textfield.html.twig' with { 'name': type ~ '_city', 'label': 'City' | trans } %}
        </div>
        <div class="form-item">
            {% include 'textfield.html.twig' with { 'name': type ~ '_state_province', 'label': 'Province or state' | trans } %}
        </div>
        <div class="form-item">
            {% include 'textfield.html.twig' with { 'name': type ~ '_country', 'label': 'Country' | trans } %}
        </div>
    </div>
{% endif %}
