{% if onclick is defined %}
    {% include 'radio.html.twig' with { 'name': name, 'label': label, 'value': value, 'onclick': onclick } %}
{% else %}
    {% include 'radio.html.twig' with { 'name': name, 'label': label, 'value': value } %}
{% endif %}

{% if readonly %}
    {% if prefilled_data[name ~ '_' ~ value ~ '_date'] is defined and prefilled_data[name ~ '_' ~ value ~ '_date'] is not empty %}
        <span class="readonly-input">{{ prefilled_data[name ~ '_' ~ value ~ '_date'] }}</span>
    {% endif %}
{% else %}
    <input type="date"
        name="{{ name ~ '_' ~ value ~ '_date' }}"
        id="{{ name ~ '_' ~ value ~ '_date' }}"
        class="radio-date"
        {% if prefilled_data[name ~ '_' ~ value ~ '_date'] is defined %} value="{{ prefilled_data[name ~ '_' ~ value ~ '_date'] }}"{% endif %}
        oninput="document.getElementById('radio_{{ name }}_{{ value }}').checked = this.value !== '';{% if oninput is defined %} {{ oninput }}{% endif %}"
    />
{% endif %}
