{% if readonly %}
    {% if prefilled_data[name] is defined and prefilled_data[name] == value %}
        <input type="radio"
            name="{{ name }}"
            value="{{ value }}"
            checked disabled
        />
        {% if label is defined %}
        <label>{{ label }}</label>
        {% endif %}
    {% endif %}
{% else %}
    <input type="radio"
        name="{{ name }}"
        id="radio_{{ name }}_{{ value }}"
        value="{{ value }}"
        autocomplete="off"
        {% if onclick is defined and onclick is not empty %} onclick="{{ onclick }}"{% endif %}
        {% if prefilled_data[name] is defined and prefilled_data[name] == value %} checked{% endif %}
    />
    {% if label is defined %}
        <label for="radio_{{ name }}_{{ value }}">
            {{ label }}
        </label>
    {% endif %}
{% endif %}
