{% if onclick is defined %}
    {% include 'radio.html.twig' with { 'name': name, 'value': 'custom', 'onclick': onclick } %}
{% else %}
    {% include 'radio.html.twig' with { 'name': name, 'value': 'custom' } %}
{% endif %}

{% if readonly %}
    {% if prefilled_data[name ~ '_custom_text'] is defined and prefilled_data[name ~ '_custom_text'] is not empty %}
        <span class="readonly-input">{{ prefilled_data[name ~ '_custom_text'] }}</span>
    {% endif %}
{% else %}
    <input type="text"
        name="{{ name }}_custom_text"
        id="{{ name }}_custom_text"
        {% if prefilled_data[name ~ '_custom_text'] is defined and prefilled_data[name ~ '_custom_text'] is not empty %}value="{{ prefilled_data[name ~ '_custom_text'] }}"{% endif %}
        oninput="document.getElementById('radio_{{ name }}_custom').checked = this.value !== '';{% if oninput is defined %} {{ oninput }}{% endif %}"
        autocomplete="off"
        {% if readonly %} disabled{% endif %}
    />
{% endif %}
