{% if not readonly or prefilled_data.reason is defined or prefilled_data.reason_custom is defined or prefilled_data.exhibition_title is defined or prefilled_data.exhibition_url is defined or prefilled_data.exhibition_date is defined or prefilled_data.exhibition_id is defined or prefilled_data.exhibition_info is defined or prefilled_data.exhibition_rep_name is defined or prefilled_data.receipt is defined %}
<div id="reason-form"{% if not readonly %} class="form-tab"{% endif %}>
    {% if not readonly %}
    <div class="report-header">{{ 'Identification of the reason for the report' | trans }}</div>
    <div class="form-group">
        <div class="form-subgroup">
            <div class="form-item">
                <label for="reason-dropdown">{{ 'Reason' | trans }}</label>
                <div class="flex">
                    <select id="reason-dropdown" name="reason" onchange="toggleCustomInput('reason_custom', this.options[this.selectedIndex].value, this.options[this.selectedIndex].value === 'customOption');" autocomplete="off" required>
                        <option></option>
                        {% for key, reason_type in report_reasons %}
                            <optgroup label="{{ reason_type.name | trans }}">
                                {% for id, reason in reason_type.options %}
                                    <option value="{{ id }}"{% if prefilled_data.reason is defined and prefilled_data.reason == id %} selected{% endif %}>{{ reason | trans }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                        <option value="customOption"{% if prefilled_data.reason_custom is defined %} selected{% endif %}>{{ 'Other ...' | trans }}</option>
                    </select>
                    <input type="text" class="custom-input" id="reason_custom" placeholder="{{ 'Fill in another reason ...' | trans }}" name="reason_custom"
                           {% if prefilled_data.reason_custom is defined %}value="{{ prefilled_data.reason_custom }}" {% else %}style="display: none;"{% endif %} autocomplete="off">
                </div>
            </div>
        </div>
    </div>
    {% elseif prefilled_data.reason is defined or prefilled_data.reason_custom is defined %}
    <div class="report-header">{{ 'Identification of the reason for the report' | trans }}</div>
    <div class="form-group">
        <div class="form-subgroup">
            <div class="form-item">
                <span class="readonly-label">{{ 'Reason' | trans }}:</span>
                {% if prefilled_data.reason_custom is defined %}
                    <span class="readonly-input">{{ prefilled_data.reason_custom }}</span>
                {% elseif prefilled_data.reason == 'customOption' %}
                    <span class="readonly-input">{{ 'Other' | trans }}</span>
                {% else %}
                    {% for key, reason_type in report_reasons %}
                        {% for id, reason in reason_type.options %}
                            {% if prefilled_data.reason == id %}
                                <span class="readonly-input">{{ reason | trans }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if not readonly
        or prefilled_data.loan_project_title is defined
        or prefilled_data.loan_project_organisationName is defined
        or prefilled_data.loan_project_address is defined
        or prefilled_data.loan_project_postal is defined
        or prefilled_data.loan_project_city is defined
        or prefilled_data.loan_project_stateProvince is defined
        or prefilled_data.loan_project_country is defined
        or prefilled_data.loan_project_url is defined
        or prefilled_data.loan_project_startDate is defined
        or prefilled_data.loan_project_endDate is defined
        or prefilled_data.loan_project_startDateInsured is defined
        or prefilled_data.loan_project_endDateInsured is defined
        or prefilled_data.loan_project_loanNumber is defined
        or prefilled_data.loan_project_representativeName is defined
        or prefilled_data.loan_project_representativeRole is defined
        or prefilled_data.loan_project_representativeEmail is defined
        or prefilled_data.loan_project_representativePhone is defined
        or prefilled_data.loan_project_notes is defined
        or prefilled_data.receipt is defined
    %}
        <div class="report-header">{{ 'Information loan project' | trans }}{% if not readonly %} ({{ 'if applicable' | trans }}){% endif %}</div>
        {% include 'loan_project_info.html.twig' %}

        {% if not readonly or prefilled_data.receipt is defined %}
        <div class="report-header">{{ 'Receipt' | trans }}</div>
        <div class="form-group">
            <div class="form-subgroup">
                <div class="form-item">
                    {% include 'date_input.html.twig' with { 'name': 'receipt', 'label': 'This document also serves as a receipt for the transfer of the work on' | trans } %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% if not readonly %}
    <div class="buttons">
        <div class="next-button">
            <button type="button" onclick="showDiv('basic-info-form', true)">{{ 'Next' | trans }}</button>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
