{% if not readonly %}
    {% if label is defined and label is not empty %}
        <label for="{{ name }}">{{ label }}</label>
    {% endif %}
    <textarea
            name="{{ name }}"
            id="textarea_{{ name }}"
            cols="{{ cols | default(100) }}"
            oninput="fixTextAreaHeight('{{ name }}')"
      >{% if prefilled_data[name] is defined %}{{ prefilled_data[name] }}{% endif %}</textarea>
    <script>
        document.addEventListener("DOMContentLoaded", fixTextAreaHeight("{{ name }}"));
        if(typeof eventsToTrigger === 'undefined') {
            var eventsToTrigger = [];
        }
        eventsToTrigger.push({ "name": "fixTextAreaHeight", "arguments": "{{ name }}"});
    </script>
{% elseif prefilled_data[name] is defined %}
    {% if label is defined and label is not empty %}
        <span class="readonly-label">{{ label }}: </span>
    {% endif %}
    <span class="readonly-input">{{ prefilled_data[name] | replace({'\n': '<br>'}) | raw }}</span>
{% endif %}
